<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="server" value="127.0.0.1"/>
      <add key="dbname" value="bteadb"/>
      <add key="username" value="root"/>
      <add key="password" value="123456"/>
      <add key="port" value="3306"/>
      <add key="LPrice" value="10000"/>
      <add key="shopname" value="BUI'S TEA"/>
      <add key="shopphone" value="Hotline: 036 9562967"/>
      <add key="shopaddress" value="Đc: Thôn 6 - Phú Sơn - Nho Quan - Ninh Bình"/>
      <add key="shopface" value="https://www.facebook.com/Buistea2020"/>
   </appSettings>
</configuration>